.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn-ip{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.btn-clr{
  margin-left: 10px;
}

.strinIp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.ipNew{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 25px;
}
